body {
  margin: 0;
  // background:
}

.wall {
  background: url(pf.jpg);
  background-color: black;
  padding: 300px 300px 300px 300px;
}

.wall2 {
  background-color: black;
  padding: 300px 300px 300px 300px;
}

.brick {
  background-color: black;
  position: absolute;
  width: 80px;
  height: 38px;
}

.brick:before {
  background: transparent;
  content: "";
  height: 76px;
  width: 160px;
  left: -80px;
  position: absolute;
  top: -38px;
}

.text {
  align-self: top;
  text-align: top;
  font-size: 30px;
  color: red;
  font: 100% Avenir;
}
