body {
  margin: 0;
}

.wall {
  // background: url(pf.jpg);
  background-color: white;
  padding: 300px;
}

// .wall2 {
//   background-color: black;
//   // padding: 300px 300px 300px 300px;
// }

.brick {
  background-color: black;
  position: absolute;
  width: 80px;
  height: 38px;
}

.brick:before {
  background: transparent;
  content: "";
  height: 76px;
  width: 160px;
  left: -80px;
  position: absolute;
  top: -38px;
}

.brick2 {
  position: absolute;
  background-color: black;
  width: 80px;
  height: 38px;
}
