<html>
  <head>
    <link rel="stylesheet" type="text/css" href="application.scss" media="screen" />
  </head>
  <body>
    <div class="wall" id="div1">
    </div>
    <div class="wall2" id="div2">
    </div>
    <script src="myscript.js"> </script>
  </body>
</html>
